<h1 class="text-center mt-4">New Article</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
    <div class="mb-3">
      <%= link_to '[ Cancel and Return to Articles listings ]', articles_path, class: "text-info" %>
    </div>
  </div>
</div>
