<main class="flex-shrink-0 ">
  <div class="container-fluid">
    <div class="p-5 m-4 rounded-3 center" >
      <div class="container-fluid py-5">
        <h2 class="display-5 fw-bold text-dark">The Wooden Web Log About Page</h2>
        <p class="col-md-8 mx-auto text-dark">The wooden web log was built so woodworkers and hobbyist could share knowledge and display their work.</p>
        <p class="col-md-6mx-auto text-dark">We are a community of woodworkers and makers working together to build...</p>

      </div>
    </div>
  </div>
</main>